<app-profile-card-layout selectedLink="step2" [leftNav]="leftLink" [rightNav]="rightLink"  header="What kind of position do you want to fill?">
    <div class="text-center">
        <div class="auth-content">
            <div class="row margin-0">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 auth-padding" *ngFor="let position of positions | async">
                    <div (click)="pick(position)" class="border text-left row m-0 auth-square {{position.key === picked ? 'picked' : ''}}">
                        <div class="col flex-grow-1">
                            {{position.name}}
                        </div>
                        <div class="col ml-auto flex-grow-0">
                            <i *ngIf="position.key === picked" class="fas tool fa-check-circle"></i>
                            <i *ngIf="position.key !== picked" class="far tool fa-check-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-profile-card-layout>